<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="EcommerceProjectReport.EcommerceProjectExtentReport.Listeners"></listener>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="EcommerceProjectReport.EcommerceProjectExtentReport.Test1"/>
      <class name="EcommerceProjectReport.EcommerceProjectExtentReport.Test2"/>
      <class name="EcommerceProjectReport.EcommerceProjectExtentReport.Test3"/>
      <class name="EcommerceProjectReport.EcommerceProjectExtentReport.Test4"/>
      <class name="EcommerceProjectReport.EcommerceProjectExtentReport.Test5"/>
      <class name="EcommerceProjectReport.EcommerceProjectExtentReport.Test6"/>
      <class name="EcommerceProjectReport.EcommerceProjectExtentReport.Test7"/>
      <class name="EcommerceProjectReport.EcommerceProjectExtentReport.Test8"/>
      <class name="EcommerceProjectReport.EcommerceProjectExtentReport.Test9"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
